.mainslider {
	position: relative;
	height: 794px;
	padding: 83px 0px 0px 0px;
	margin: 0px 0px 120px 0px;
	@media (max-width: $md2+px) {
		margin: 0px 0px 70px 0px;
	}
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__body {
		flex: 1 0 auto;
	}

	&__slide {
	}

	&__content {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__container {
		position: relative;
		z-index: 2;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	&__footer {
		flex: 0 0 auto;
	}
}

.footer-mainslider {
	position: relative;
	padding: 0px 0px 84px 0px;
	&__progressbar {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 3px;
		background-color: rgba(255, 255, 255, 0.39);
	}

	&__progressbar .swiper-pagination-progressbar-fill {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		transform-origin: left top;
	}

	&__row {
		margin: 28px 0px 0px 0px;
		display: flex;
		align-items: flex-start;
	}

	&__arrows {
		display: flex;
		flex: 1 1 auto;
	}

	&__arrow {
		margin: 0px 11px 0px 0px;
		flex: 0 0 29px;
		height: 29px;
		border-radius: 50%;
		border: 1px solid #fff;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		&:last-child {
			margin: 0;
		}
		&_l {
		}

		&_r {
		}
	}

	&__project {
		flex: 1 1 auto;
		margin: 0px 32px 0px 0px;
		@media (max-width: $md2+px) {
			margin: 25px 0px 0px 0px;
		}
	}

	&__text {
		
	}

	&__info {
	}

	&__fraction {
		margin: 0px 35px 0px 0px;
	}

	&__link {
	}
}
.project-mainslider {
	font-size: 12px;
	line-height: 14px;
	opacity: .85;
	@media (min-width: $md2+px) {
		justify-content: flex-end;
	}
	@media (min-width: 640px) {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	&__name {
		max-width: 194px;
		padding: 0px 29px 0px 0px;
		position: relative;
		margin: 0px 14px 0px 0px;
		
		@media (max-width: 640px) {
			margin: 0px 0px 18px 0px;
		}
		&:after {
			content: '';
			display: block;
			width: 14px;
			height: 1px;
			background-color: #fff;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(0, -50%);
		}
	}
	&__text {
		max-width: 336px;
		@media (max-width: 640px) {
			margin: 0px 0px 0px auto;
			max-width: 60%;
		}
	}
}


.content-mainslider {
	max-width: 750px;
	&__title {
		font-size: 42px;
		margin: 0px 0px 19px 0px;
		@media (max-width: $md2+px) {
			font-size: 32px;
		}
		@media (max-width: 414px) {
			font-size: 28px;
		}
	}

	&__text {
		font-size: 16px;
		line-height: 20 / 16 * 100%;
	}

	&__btn {
		span {
			display: inline-block;
			padding: 0px 0px 7px 0px;
			
			border-bottom: 1px solid #fff;
		}
		margin: 40px 0px 0px 0px;
		@media (max-width: $md2+px) {
			margin: 30px 0px 0px 0px;
		}
	}
}

.project-mainslider {

	&__name {
	}

	&__text {
	}
}

.fraction-mainslider {
	display: flex;
	font-size: 24px;
	&__current {
	}

	&__sepparator {
	}

	&__total {
		
	}
}
//=================================================================================================================================

.category-list {
	margin: 0px 0px 120px 0px;
	@media (max-width: $md2+px) {
		margin: 0px 0px 67px 0px;
	}
	&__container {
	}

	&__title {
		margin: 0px 0px 30px 0px;

	}

	&__items {

		@media (min-width: 520px) {
			display: flex;
			flex-wrap: wrap;
			margin: 0px -12px;
		}
	}

	&__item {
		height: 220px;

		@media (max-width: $md2+px) {
			flex: 0 1 50%;
			margin: 0px 0px 24px 0px;
		}
		@media (min-width: 520px) {
			flex: 0 1 25%;
			padding: 0px 12px;
		}
	}
}

//=================================================================================================================================


.popular-products {
	margin: 0px 0px 120px 0px;
	@media (max-width: $md2+px) {
		margin: 0px 0px 70px 0px;
	}
	&__body {
		overflow: visible;
	}
}
.popular-products .swiper-slide {
	height: auto;
	
}
//=================================================================================================================================

.title {

	@media (min-width: $md1+px) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__main {
		font-size: 32px;
		color: #444;
		@media (min-width: $md1+px) {
			flex: 1 1 auto;
		}
		@media (min-width: $md3+px) and (max-width: $md1+px) {
			margin: 0px 0px 20px 0px;
		}
		@media (max-width: 380px) {
			font-size: 27px;
		}
	}

	&__items {
		display: flex;
		@media (max-width: $md3+px) {
			display: none;
		}
		li {
			margin: 0px 59px 0px 0px;
			&:last-child {
				margin: 0;
			}
		}
		@media (min-width: $md1+px) {
			margin: 0px 0px 0px 20px;
		}
	}

	&__link {
		display: inline-block;
		padding: 0px 0px 6px 0px;
		text-transform: uppercase;
		font-size: 12px;
		color: #444;
		letter-spacing: 0.08em;
		&._active {
			border-bottom: 1px solid #444;
		}
	}
}
.items-products {
	display: flex;
	margin: 0px -15px;
	&__column {
		flex: 0 1 33.333%;
		padding: 0px 15px;
		
	}
}
.item-product {
	color: #444;
	//! height: 100%;
	&__image {
		flex: 0 0 306px;
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	&__content {
		border: 1px solid #444444;
		border-radius: 7px;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	&__body {
		padding: 33px 37px;
		display: flex;
		flex-direction: column;
		height: 100%;
		@media (max-width: $md1+px) {
			padding: 15px;
		}
	}

	&__title {
		font-size: 22px;
		margin: 0px 0px 9px 0px;
		line-height: 25 / 22 * 100%;
	}

	&__category {
		font-size: 12px;
		margin: 0px 0px 22px 0px;
		flex: 1 1 auto;
	}

	&__footer {
		display: flex;
		align-items: center;
	}

	&__price {
		flex: 1 1 auto;
		font-size: 21px;
	}

	&__btn {
		color: #444;
		text-transform: uppercase;
		display: inline-block;
		font-size: 12px;
		padding: 0px 36px 6px 0px;
		border-bottom: 1px solid #444444;
		background: url('../img/icons/btn-arrow.svg') right 2px no-repeat;
	}
}


.slider-line {
	margin: 55px 0px 0px 0px;
	@media (min-width: $md2+px) {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	@media (max-width: $md2+px) {
		margin: 30px 0px 0px 0px;
	}
	&__info {
	}

	&__fraction {
		display: flex;
		color: #444;
		font-size: 16px;
		margin: 0px 0px 4px 0px;
	}
	&__current {
	}

	&__sepparator {
		height: 1px;
		align-self: center;
		flex: 0 0 13px;
		margin: 0px 4px;
		background-color: #444;
	}

	&__total {
	}

	&__actions {
		display: flex;
		align-items: center;
	}

	&__progressbar {
		flex: 0 0 640px;
		height: 1px;
		background-color: rgba(68, 68, 68, .6);
		margin: 0px 35px 0px 0px;
		position: relative;
		@media (max-width: $md1+px) {
			flex: 0 0 500px;
		}
		@media (max-width: $md2+px) {
			flex: 1 1 auto;
		}
	}
	&__progressbar .swiper-pagination-progressbar-fill {
		background-color: #000;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		transform-origin: left top;
	}
	&__arrows {
		display: flex;
	
	}

	&__arrow {
		flex: 0 0 26px;
		height: 10px;
		margin: 0px 19px 0px 0px;
		cursor: pointer;
		&:last-child {
			margin: 0;
		}
		&_prev {
		}

		&_next {
		}
	}
	&__more {
		@media (max-width: $md2+px) {
			text-align: right;
			margin: 40px 0px 0px 0px;
		}
	}
}
//=================================================================================================================================

.our-projects {
	margin: 0px 0px 100px 0px;
	@media (max-width: $md2+px) {
		margin: 0px 0px 70px 0px;
	}
	&__container {
	}

	&__body {
		height: 461px;
		width: 95%;
		
		overflow: visible;
		margin: 0px auto 40px auto;
		@media (max-width: $md2+px) {
			height: 300px;
			width: 100%;
		}
		@media (min-width: 414px) {
			padding: 0px 20px;
		}
	}

	&__slider-line {
	}
	&__title {
		margin: 0px 0px 35px 0px;
	}
}

.projects-item {
	
	position: relative;
	z-index: 2;
	padding: 24px 33px;
	height: 100%;
	@media (max-width: $md2+px) {
		padding: 17px 23px;
	}
	@media (min-width: 414px) {
		display: flex;
		align-items: flex-end;
	}
	@media (max-width: 414px) {
		
	}
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 7px;
	}

	&__content {
		position: relative;
		z-index: 2;
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-between;
		@media (max-width: 414px) {
			flex-direction: column;
			align-items: flex-start;
			height: 100%;
		}
	}

	&__name {
		font-size: 16px;
	}

	&__btn {
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 0.08em;
		display: inline-flex;
		padding: 0px 34px 7px 0px;
		border-bottom: 1px solid #fff;
		background: url('../img/icons/btn-arrow-white.svg') right 2px no-repeat;
	}
}

//=================================================================================================================================

.our-partners {
	margin: 0px 0px 110px 0px;
	&__container {

	}

	&__title {
		margin: 0px 0px 30px 0px;
	}

	&__body {
		height: 306px;
		border-top: 1px solid #444;
		border-left: 1px solid #444;
		@media (max-width: $md3+px) {
			height: 220px;
		}
		&.disabled .swiper-wrapper {
			transform: translate3d(0px, 0, 0) !important;
		}
	}

	
	&__brand {
		border-right: 1px solid #444;
		border-bottom: 1px solid #444;
		padding: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			max-width: 100%;
		}
		@media (max-width: $md2+px) {
			padding: 15px;
		}

	}
}
.slider-line.disabled {
	display: none;
}
.our-partners .swiper-slide {
	height: 50%;
	overflow: hidden;
}
